<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <title>KasT</title>

    <script>
        function toggleSearch() {
            var bodyContent = document.querySelectorAll('main');
            var searchSection = document.getElementById('search-section');
            var searchActive = searchSection.style.display === 'block';

            if (searchActive) {
                bodyContent.forEach(function(element) {
                    element.style.display = 'block';
                });
                searchSection.style.display = 'none';
            } else {
                bodyContent.forEach(function(element) {
                    element.style.display = 'none';
                });
                searchSection.style.display = 'block';
            }
        }

        document.addEventListener('keydown', function(event) {
            if (event.key === 'Escape') {
                var bodyContent = document.querySelectorAll('main');
                var searchSection = document.getElementById('search-section');

                bodyContent.forEach(function(element) {
                    element.style.display = 'block';
                });
                searchSection.style.display = 'none';
            }
        });
    </script>
</head>
<body style="margin: 0%;">
    <header style="display: flex; background-color: white;">
        <div style="width: 60%;">
            <h1 style="font-size: 3vw; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                KasT
            </h1>
        </div>
        <div style="width: 10%;">
            <a href="{{ url_for('sell') }}" style=" color: black; text-decoration: none;">
                <p style="font-size: 2vw; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Sell
                </p>
            </a>
        </div>
        <div style="width: 10%;">
            <a href="https://github.com/DaviAMRodrigues" style="color: black; text-decoration: none;">
                <p style="font-size: 2vw; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Contact
                </p>
            </a>
        </div>
        <div style="width: 10%;">
            <a href="{{ url_for('homepage') }}" style="color: black; text-decoration: none;">
                <p style="font-size: 2vw; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Menu
                </p>
            </a>
        </div>
        <div style="width: 10%;">
            <a href="{{ url_for('homepage') }}" style="color: black; text-decoration: none;">
                <p style="font-size: 2vw; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    Account
                </p>
            </a>
        </div>
        <br>
    </header>
    <main>
        <div class="menu">
            <div style="text-align: center;">
                <h1 style="font-size: 3vw; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Meet your new Home</h1>
                <p>Describe what you want and our team will find your new home</p>
                <button id="search_home" onclick="toggleSearch()">Meet now</button>
            </div> 
        </div>
        <div style="display: flex; width: 100%; background-color: white;">
            <div style="text-align: center; width: 50%; height: 100%;">
                <img src="{{linkcasa1}}" alt="imagem-casa" class="foto-casa">
            </div>
            <div style="text-align: center; width: 50%;">
                <h1 style="margin: 2%;">Address: {{address}}</h1>
                <h1 style="margin: 2%;">Price: {{hou_price}}</h1>
                <h1 style="margin: 2%;">Estimated price: {{est_price}}</h1>
                <br>
                <br>
                <div style="display: flex;">
                    <div style="text-align: center; width: 50%;">
                        <h2 style="margin: 2%;">Area: {{area}}</h2>
                        <h2 style="margin: 2%;">Price per area: {{area_price}}</h2>
                    </div>
                    <div style="text-align: center; width: 50%;">
                        <h2 style="margin: 2%;">Bedrooms: {{bedrooms}}</h2>
                        <h2 style="margin: 2%;">Bathrooms: {{bathrooms}}</h2>
                    </div>
                </div>
                <br>
                <br>
                <p style="margin: 2%;">House description:{{description}}</p>
            </div>
        </div>
    </main>
    <div id="search-section" style="display: none; text-align: center;">
        <div style="text-align: center;">
            <form method="POST" action="{{ url_for('homepage') }}">
                <input type="text" name="user_input" placeholder="Enter description" style="font-size: 2vw; padding: 0.5vw;">
            </form>
        </div>
    </div>
    <footer style="background-color: black; color: white; width: 100%; text-align: center;">
        <br>
        <p>&copy KasT 2024</p>
        <br>
    </footer>
</body>
</html>
